In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [73]:
# Importing ML Libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [74]:
# Importing the dataset
df = pd.read_csv("C:/Users/Tushar Goel/Desktop/Intern related dataset/gold.csv ")

In [75]:
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
0,"May 04, 2017",28060,28400,28482,28025,0.08K,-1.79%,738.0,117.570740
1,"May 05, 2017",28184,28136,28382,28135,0.06K,0.44%,-146.0,295.430176
2,"May 08, 2017",28119,28145,28255,28097,7.85K,-0.23%,30.0,132.123714
3,"May 09, 2017",27981,28125,28192,27947,10.10K,-0.49%,357.0,101.298064
4,"May 10, 2017",28007,28060,28146,27981,9.28K,0.09%,124.0,112.153318

In [76]:
# Calculating no. of data fields which are empty in Pred
df['Pred'].isnull().value_counts()

False    411
True     101
Name: Pred, dtype: int64

In [77]:
# Calculating no. of data fields which are empty in New
df['new'].isnull().value_counts()

False    512
Name: new, dtype: int64

In [78]:
df.corr()

          Price      Open      High       Low      Pred       new
Price  1.000000  0.989758  0.995125  0.996830  0.040489  0.164504
Open   0.989758  1.000000  0.995988  0.993992  0.109153  0.058551
High   0.995125  0.995988  1.000000  0.994194  0.080394  0.142109
Low    0.996830  0.993992  0.994194  1.000000  0.014411  0.091895
Pred   0.040489  0.109153  0.080394  0.014411  1.000000 -0.006109
new    0.164504  0.058551  0.142109  0.091895 -0.006109  1.000000

## as new is highly coorelated with OHLC , it is highly possible that it is linear related to them.
## Lets check it out by training our model

In [79]:
y_1 = df['Pred'].loc[:410]
x_2 = df.iloc[:,[1,2,3,4]]
x_1 = x_2.loc[:410]
y_2 = df['new']

In [80]:
y_1.isnull().value_counts()

False    411
Name: Pred, dtype: int64

## Now we are going to train our model

### First we going to determine which column is polynomial related or linear related to the inputs by comparing the accuracies (r2_score)
### we are goin to prepare our model for 'New' column

In [81]:
from sklearn.preprocessing import PolynomialFeatures

In [82]:
# spliting the data
x_2_train,x_2_test,y_2_train,y_2_test = train_test_split(x_2,y_2,test_size=0.1,random_state=0)

In [83]:
lr = LinearRegression()

In [84]:
linear_model = lr.fit(x_2_train,y_2_train)

In [85]:
y_2_predict = linear_model.predict(x_2_test)

In [86]:
print(r2_score(y_2_test,y_2_predict))

0.9999837212433824

## It is 99.99 % accurate . Hence "New" is Linear related
## Then Pred is Polynomially related

## Let's Train our model for Pred

In [87]:
poly = PolynomialFeatures(3)

x_1 = poly.fit_transform(x_1)

In [88]:
x_1_train,x_1_test,y_1_train,y_1_test = train_test_split(x_1,y_1,test_size=0.1,random_state=0)

In [89]:
lr_1 = LinearRegression()
linear_model_1 = lr_1.fit(x_1_train,y_1_train)

In [90]:
y_1_predict = linear_model_1.predict(x_1_test)

In [91]:
print(r2_score(y_1_test,y_1_predict))

0.9999999706245378

In [244]:
linear_model_1.coef_

array([-2.30044937e+00,  1.69535261e+00,  3.34348448e+00, -1.21476771e+00,
       -3.81914969e+00, -2.15493329e-06, -5.45707096e-07,  1.31649546e-05,
        1.21238936e-05, -3.01261181e-05,  8.73733377e-06,  2.92416079e-05,
       -1.97681806e-05,  3.22417839e-05, -4.31325302e-05,  2.92574912e-08,
       -4.02505344e-10, -3.40598575e-08, -5.33685578e-08, -5.86635140e-09,
        9.11031510e-09,  3.40810219e-09,  9.76745415e-10,  5.68528902e-08,
        2.30650036e-08, -1.43594306e-08,  2.75853614e-08,  2.23520590e-08,
       -1.92002701e-08, -2.60808126e-08, -1.15203368e-08,  5.55312042e-09,
        2.13428158e-09, -1.81366217e-08,  2.70241050e-09])

## This Polynomial model is 99.99% accurate (Pred Column)
## Let's fill our columns fields by this model

In [99]:
value = df.iloc[:,[1,2,3,4]].loc[411:]

In [101]:
value = poly.fit_transform(value)

In [107]:
a = linear_model_1.predict(value)

In [108]:
a

array([ 852.01634807,  422.1353249 ,  530.08192832,  144.04961614,
        414.92184796, 1103.26379864,  411.03271235,  612.95374625,
          5.00650984,  546.96030187,  -27.00114288,  367.92368908,
        263.07609931,  614.94515286,  478.98243822,  -80.76077507,
        489.09802404, 2892.15812884,  339.8814995 ,  273.92997871,
        468.68405176,  487.24279144,  -47.94418991,  363.89278406,
          6.92604296,  276.86042553,  283.16935774,  550.32302238,
        110.06576739,  412.82646216,  146.07691107,  241.19149827,
        405.52794876,  118.81021948,  403.99355898,  303.16862693,
        153.3677738 ,  677.45927816, 2115.83035946,  860.67955258,
        -36.90370442,  615.42607091,  467.66059022,  716.40454696,
        410.52379975,  250.37257739,  465.72742311,  253.11532157,
        108.83135643,  468.62273928,  241.65852415,  777.1890483 ,
        470.84113652,  555.86085792, -138.93941107,  224.31179381,
        603.74041924, 3023.19029605,  330.72853665, 2898.74004185,
        476.16062396,  589.04162995,  232.7223602 ,  670.35087879,
        151.94099068,   31.84217575,  960.49120649,  359.07971693,
        595.11091123,  438.721509  ,  586.22319434,   93.03926241,
        740.58525013,  466.0360946 ,  502.19735163,  159.16398244,
        833.32056519,  377.88713566,    6.04026416,  693.99454776,
        518.01646628,  553.99436409,  516.97240805,  201.65923077,
        338.13691028,  488.85942473, 1070.46905404,   -7.96381616,
        578.95253055,  468.11485375,  223.08837946,  264.05351714,
       -131.97608772,  349.99742483,  358.78907758,  445.8685858 ,
        534.97823289,  438.15163137,  269.06907165,  601.08027869,
        279.93557527])

In [110]:
df['Pred'].loc[411:] = a

In [111]:
df['Pred']

0       738.000000
1      -146.000000
2        30.000000
3       357.000000
4       124.000000
5       149.000000
6       167.000000
7        22.000000
8        34.000000
9       420.000000
10      234.000000
11      345.000000
12      265.000000
13      138.000000
14      378.000000
15      413.000000
16      214.000000
17      121.000000
18      491.000000
19      397.000000
20      404.000000
21      222.000000
22       -3.000000
23      259.000000
24      344.000000
25      906.000000
26      526.000000
27      174.000000
28      685.000000
29      329.000000
          ...
482      93.039262
483     740.585250
484     466.036095
485     502.197352
486     159.163982
487     833.320565
488     377.887136
489       6.040264
490     693.994548
491     518.016466
492     553.994364
493     516.972408
494     201.659231
495     338.136910
496     488.859425
497    1070.469054
498      -7.963816
499     578.952531
500     468.114854
501     223.088379
502     264.053517
503    -131.976088
504     349.997425
505     358.789078
506     445.868586
507     534.978233
508     438.151631
509     269.069072
510     601.080279
511     279.935575
Name: Pred, Length: 512, dtype: float64

# We are able to fill our columns through our model

The S&P 500 is a stock market index that tracks the stocks of 500 large-cap U.S. companies. It represents the stock market's performance by reporting the risks and returns of the biggest companies. Investors use it as the benchmark of the overall market, to which all other investments are compared.

### Importing Stock and Nifty Index

In [162]:
nifty = pd.read_csv("C:/Users/Tushar Goel/Desktop/Intern related dataset/Nifty50.csv ")
stock = pd.read_csv("C:/Users/Tushar Goel/Desktop/Intern related dataset/Small_Cap/ASHOKA.csv ")

In [163]:
nifty.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,15-May-2017,9433.55,9449.25,9423.10,9445.40,145163953,7790.97
1,16-May-2017,9461.00,9517.20,9456.35,9512.25,171709433,9209.89
2,17-May-2017,9517.60,9532.60,9486.10,9525.75,211856040,10726.23
3,18-May-2017,9453.20,9489.10,9418.10,9429.45,199340647,10782.46
4,19-May-2017,9469.90,9505.75,9390.75,9427.90,259861396,11544.77

In [164]:
stock.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,ASHOKA,EQ,15-May-2017,210.35,211.0,217.5,206.15,216.30,216.05,212.63,159997,34020520.45,3506,88509,55.32
1,ASHOKA,EQ,16-May-2017,216.05,212.3,216.0,211.00,214.00,214.90,213.24,213214,45466299.10,2860,151941,71.26
2,ASHOKA,EQ,17-May-2017,214.90,214.3,218.7,212.10,216.55,217.00,215.97,383131,82743402.10,3297,261939,68.37
3,ASHOKA,EQ,18-May-2017,217.00,216.0,216.6,208.00,210.00,209.65,211.74,78709,16665707.55,1372,35458,45.05
4,ASHOKA,EQ,19-May-2017,209.65,212.1,213.9,205.05,206.05,206.25,209.95,398725,83713500.05,2060,301747,75.68

## Beta Value on Daily Basis

### STOCK RETURN

In [165]:
# Calculating the Daily Return :
stock['Daily_Return'] = stock['Close Price'].pct_change()

In [166]:
stock.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Daily_Return
0,ASHOKA,EQ,15-May-2017,210.35,211.0,217.5,206.15,216.30,216.05,212.63,159997,34020520.45,3506,88509,55.32,NaN
1,ASHOKA,EQ,16-May-2017,216.05,212.3,216.0,211.00,214.00,214.90,213.24,213214,45466299.10,2860,151941,71.26,-0.005323
2,ASHOKA,EQ,17-May-2017,214.90,214.3,218.7,212.10,216.55,217.00,215.97,383131,82743402.10,3297,261939,68.37,0.009772
3,ASHOKA,EQ,18-May-2017,217.00,216.0,216.6,208.00,210.00,209.65,211.74,78709,16665707.55,1372,35458,45.05,-0.033871
4,ASHOKA,EQ,19-May-2017,209.65,212.1,213.9,205.05,206.05,206.25,209.95,398725,83713500.05,2060,301747,75.68,-0.016218

### MARKET RETURN

In [167]:
nifty['Daily_Return'] = nifty['Close'].pct_change()

In [168]:
nifty.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),Daily_Return
0,15-May-2017,9433.55,9449.25,9423.10,9445.40,145163953,7790.97,NaN
1,16-May-2017,9461.00,9517.20,9456.35,9512.25,171709433,9209.89,0.007078
2,17-May-2017,9517.60,9532.60,9486.10,9525.75,211856040,10726.23,0.001419
3,18-May-2017,9453.20,9489.10,9418.10,9429.45,199340647,10782.46,-0.010109
4,19-May-2017,9469.90,9505.75,9390.75,9427.90,259861396,11544.77,-0.000164

In [169]:
# Converting both datasets into DateTimeIndex
stock['Date'] = stock['Date'].astype('datetime64[ns]')
nifty['Date'] = nifty['Date'].astype('datetime64[ns]')
stock = stock.set_index('Date')
nifty = nifty.set_index('Date')

In [170]:
ts = stock.last('90D')

,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Daily_Return
Date,,,,,,,,,,,,,,,
2019-02-13,ASHOKA,EQ,111.10,110.00,114.05,110.00,110.35,110.80,112.34,67031,7.530010e+06,1676,40386,60.25,-0.002700
2019-02-14,ASHOKA,EQ,110.80,110.80,112.60,110.55,112.00,111.80,111.87,57313,6.411346e+06,1456,38375,66.96,0.009025
2019-02-15,ASHOKA,EQ,111.80,112.50,114.90,110.00,111.85,112.25,113.12,54003,6.108916e+06,1784,19427,35.97,0.004025
2019-02-18,ASHOKA,EQ,112.25,113.00,114.40,107.25,110.00,109.80,111.43,45919,5.116676e+06,1080,26844,58.46,-0.021826
2019-02-19,ASHOKA,EQ,109.80,109.60,112.25,106.70,109.25,109.10,109.74,93302,1.023887e+07,1660,62630,67.13,-0.006375
2019-02-20,ASHOKA,EQ,109.10,108.55,112.90,107.65,112.30,111.95,110.15,78580,8.655692e+06,3332,34912,44.43,0.026123
2019-02-21,ASHOKA,EQ,111.95,111.10,124.25,109.80,120.95,121.20,120.36,657685,7.915634e+07,7624,113104,17.20,0.082626
2019-02-22,ASHOKA,EQ,121.20,121.40,125.40,120.20,122.55,123.45,123.33,392791,4.844343e+07,5787,106687,27.16,0.018564
2019-02-25,ASHOKA,EQ,123.45,124.00,124.00,117.50,119.35,119.05,120.94,108976,1.317973e+07,2846,53924,49.48,-0.035642
2019-02-26,ASHOKA,EQ,119.05,117.75,117.75,112.60,116.80,116.40,115.84,68457,7.929747e+06,1762,28791,42.06,-0.022260
2019-02-27,ASHOKA,EQ,116.40,118.60,120.20,114.00,114.20,114.45,117.81,395937,4.664563e+07,1444,337297,85.19,-0.016753
2019-02-28,ASHOKA,EQ,114.45,113.20,119.70,113.20,117.90,118.50,116.34,378883,4.407820e+07,1907,327643,86.48,0.035387
2019-03-01,ASHOKA,EQ,118.50,120.00,122.40,118.60,121.30,121.20,120.55,1262787,1.522295e+08,2886,1208827,95.73,0.022785
2019-03-05,ASHOKA,EQ,121.20,121.30,132.00,121.00,129.00,129.55,128.59,970675,1.248214e+08,10765,677275,69.77,0.068894
2019-03-06,ASHOKA,EQ,129.55,130.80,141.70,130.15,138.00,137.55,137.16,1462862,2.006508e+08,19051,713243,48.76,0.061752
2019-03-07,ASHOKA,EQ,137.55,138.40,138.70,133.05,134.50,134.45,135.08,594780,8.034293e+07,5232,463272,77.89,-0.022537
2019-03-08,ASHOKA,EQ,134.45,132.25,136.35,131.50,133.90,133.95,133.47,343515,4.585050e+07,3636,262325,76.36,-0.003719
2019-03-11,ASHOKA,EQ,133.95,134.90,139.00,133.85,138.00,137.35,137.10,792797,1.086951e+08,12099,514761,64.93,0.025383
2019-03-12,ASHOKA,EQ,137.35,139.40,150.00,138.95,140.70,141.20,143.75,986400,1.417916e+08,14213,549787,55.74,0.028031
2019-03-13,ASHOKA,EQ,141.20,141.25,142.00,136.00,140.00,140.15,139.77,151382,2.115859e+07,3099,63773,42.13,-0.007436
2019-03-14,ASHOKA,EQ,140.15,139.35,141.55,136.85,139.00,139.30,138.93,117623,1.634097e+07,3533,54740,46.54,-0.006065
2019-03-15,ASHOKA,EQ,139.30,138.15,140.20,136.00,137.40,137.45,138.60,428070,5.932957e+07,6196,333687,77.95,-0.013281
2019-03-18,ASHOKA,EQ,137.45,137.50,139.90,135.95,137.25,137.85,138.08,371724,5.132766e+07,3779,204629,55.05,0.002910
2019-03-19,ASHOKA,EQ,137.85,138.50,139.50,133.55,134.20,134.05,136.08,245254,3.337347e+07,3809,147056,59.96,-0.027566
2019-03-20,ASHOKA,EQ,134.05,134.30,135.45,128.00,128.30,128.85,130.36,505253,6.586241e+07,8506,302861,59.94,-0.038791
2019-03-22,ASHOKA,EQ,128.85,129.00,132.00,127.50,129.00,129.15,129.83,524177,6.805570e+07,4122,432699,82.55,0.002328
2019-03-25,ASHOKA,EQ,129.15,128.00,128.50,123.05,123.80,123.95,124.27,492603,6.121341e+07,3691,407435,82.71,-0.040263
2019-03-26,ASHOKA,EQ,123.95,124.55,126.15,124.55,125.90,125.85,125.81,209084,2.630397e+07,2576,142960,68.37,0.015329
2019-03-27,ASHOKA,EQ,125.85,127.00,131.65,124.55,130.40,130.95,128.01,473263,6.058367e+07,12713,328540,69.42,0.040524
2019-03-28,ASHOKA,EQ,130.95,132.00,132.90,128.55,129.50,129.80,130.50,268966,3.510106e+07,11027,163155,60.66,-0.008782
2019-03-29,ASHOKA,EQ,129.80,131.80,132.50,126.25,126.60,126.90,128.58,191373,2.460689e+07,8834,123072,64.31,-0.022342
2019-04-01,ASHOKA,EQ,126.90,128.30,131.00,127.50,130.50,130.20,129.70,224989,2.918087e+07,2236,171689,76.31,0.026005
2019-04-02,ASHOKA,EQ,130.20,130.95,135.25,130.35,132.95,133.00,133.37,263761,3.517887e+07,3625,98240,37.25,0.021505
2019-04-03,ASHOKA,EQ,133.00,132.00,135.90,132.00,133.35,133.10,134.41,198331,2.665854e+07,3057,99361,50.10,0.000752
2019-04-04,ASHOKA,EQ,133.10,132.00,132.90,126.00,127.50,127.80,128.22,231750,2.971551e+07,3949,118056,50.94,-0.039820
2019-04-05,ASHOKA,EQ,127.80,128.70,137.00,128.10,135.10,134.45,134.20,678869,9.110419e+07,7357,137232,20.21,0.052034
2019-04-08,ASHOKA,EQ,134.45,134.50,136.70,131.10,132.05,132.85,134.81,184574,2.488209e+07,4398,76410,41.40,-0.011900
2019-04-09,ASHOKA,EQ,132.85,132.80,133.60,130.00,131.15,131.40,131.61,91506,1.204272e+07,1617,38071,41.60,-0.010915
2019-04-10,ASHOKA,EQ,131.40,130.50,132.50,129.00,129.25,129.35,130.57,92150,1.203194e+07,1656,56080,60.86,-0.015601
2019-04-11,ASHOKA,EQ,129.35,129.90,131.50,128.40,129.10,129.25,130.08,85796,1.116044e+07,1389,43759,51.00,-0.000773
2019-04-12,ASHOKA,EQ,129.25,130.00,131.55,129.50,131.25,130.90,130.65,86979,1.136379e+07,1264,44158,50.77,0.012766
2019-04-15,ASHOKA,EQ,130.90,131.80,132.00,129.50,129.60,130.00,130.56,73828,9.639097e+06,3372,46781,63.36,-0.006875
2019-04-16,ASHOKA,EQ,130.00,130.00,133.30,130.00,130.95,131.10,131.84,84474,1.113711e+07,1445,38599,45.69,0.008462
2019-04-18,ASHOKA,EQ,131.10,134.80,135.00,130.20,131.00,131.65,132.91,199838,2.656020e+07,2922,71256,35.66,0.004195
2019-04-22,ASHOKA,EQ,131.65,132.55,132.55,127.10,127.70,128.05,129.17,81028,1.046655e+07,1833,40663,50.18,-0.027345
2019-04-23,ASHOKA,EQ,128.05,128.00,129.60,124.50,128.00,127.85,127.38,51389,6.546120e+06,1410,19737,38.41,-0.001562
2019-04-24,ASHOKA,EQ,127.85,129.00,130.45,128.20,129.50,129.80,129.73,117130,1.519551e+07,1735,66584,56.85,0.015252
2019-04-25,ASHOKA,EQ,129.80,130.90,130.90,128.55,129.25,129.05,129.29,32973,4.262972e+06,813,17380,52.71,-0.005778
2019-04-26,ASHOKA,EQ,129.05,129.05,129.80,127.05,127.45,127.60,128.45,50536,6.491541e+06,923,34633,68.53,-0.011236
2019-04-30,ASHOKA,EQ,127.60,126.15,127.45,123.50,123.80,124.20,125.42,74493,9.343004e+06,2014,37803,50.75,-0.026646
2019-05-02,ASHOKA,EQ,124.20,124.20,124.25,120.10,120.10,120.70,121.75,79144,9.635854e+06,2741,53362,67.42,-0.028180
2019-05-03,ASHOKA,EQ,120.70,120.70,121.00,118.65,119.25,119.25,119.60,56830,6.796635e+06,1330,36733,64.64,-0.012013
2019-05-06,ASHOKA,EQ,119.25,117.50,118.35,115.75,116.00,116.05,117.41,43555,5.113878e+06,927,24477,56.20,-0.026834
2019-05-07,ASHOKA,EQ,116.05,118.00,124.15,117.45,117.50,118.10,119.09,68586,8.167796e+06,1690,25784,37.59,0.017665
2019-05-08,ASHOKA,EQ,118.10,117.00,120.45,115.00,115.10,115.45,117.13,67803,7.941511e+06,1843,46000,67.84,-0.022439
2019-05-09,ASHOKA,EQ,115.45,115.45,117.00,114.80,115.05,115.30,115.53,33182,3.833502e+06,817,18750,56.51,-0.001299
2019-05-10,ASHOKA,EQ,115.30,115.50,118.00,114.35,117.90,117.45,116.64,43958,5.127320e+06,1490,22355,50.86,0.018647
2019-05-13,ASHOKA,EQ,117.45,117.95,119.70,116.75,116.75,117.15,117.36,46832,5.496356e+06,1527,32612,69.64,-0.002554

In [179]:
y_daily = ts.iloc[:,-1].values

In [183]:
# Stock return
y_daily = y_daily.reshape(-1,1)

In [173]:
tn = nifty.last('90D')

In [184]:
# MArket return
x_daily = tn.iloc[:,-1].values
x_daily = x_daily.reshape(-1,1)

In [185]:
daily = LinearRegression()
beta_daily = daily.fit(x_daily,y_daily)

### Beta Value for Daily

In [186]:
beta_daily.coef_

array([[1.60861623]])

Therefore Beta Value on daily basis is 1.60861623

# Beta Value for Monthly Return

## Monthly Close price for Nifty and Stock

In [191]:
stock.reset_index(inplace=True)

In [193]:
stock['month'] = pd.DatetimeIndex(stock['Date']).month

In [195]:
nifty.reset_index(inplace=True)

In [196]:
nifty['month'] = pd.DatetimeIndex(nifty['Date']).month

In [197]:
stock.head()

,Date,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Daily_Return,month
0,2017-05-15,ASHOKA,EQ,210.35,211.0,217.5,206.15,216.30,216.05,212.63,159997,34020520.45,3506,88509,55.32,NaN,5
1,2017-05-16,ASHOKA,EQ,216.05,212.3,216.0,211.00,214.00,214.90,213.24,213214,45466299.10,2860,151941,71.26,-0.005323,5
2,2017-05-17,ASHOKA,EQ,214.90,214.3,218.7,212.10,216.55,217.00,215.97,383131,82743402.10,3297,261939,68.37,0.009772,5
3,2017-05-18,ASHOKA,EQ,217.00,216.0,216.6,208.00,210.00,209.65,211.74,78709,16665707.55,1372,35458,45.05,-0.033871,5
4,2017-05-19,ASHOKA,EQ,209.65,212.1,213.9,205.05,206.05,206.25,209.95,398725,83713500.05,2060,301747,75.68,-0.016218,5

In [198]:
stock_month = stock.groupby('month')

In [200]:
stock_month.first()

,Date,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Daily_Return
month,,,,,,,,,,,,,,,,
1,2018-01-01,ASHOKA,EQ,244.65,245.00,250.80,242.05,245.50,245.95,247.76,203618,5.044898e+07,2297,136264,66.92,0.005314
2,2018-02-01,ASHOKA,EQ,227.00,232.00,233.95,226.10,232.10,230.00,230.28,500813,1.153250e+08,13064,300979,60.10,0.013216
3,2018-03-01,ASHOKA,EQ,219.00,226.00,235.60,222.50,225.75,225.35,230.23,1047709,2.412153e+08,19349,275038,26.25,0.028995
4,2018-04-02,ASHOKA,EQ,248.45,250.00,264.50,250.00,256.00,256.15,259.20,418566,1.084937e+08,8185,188070,44.93,0.030992
5,2017-05-15,ASHOKA,EQ,210.35,211.00,217.50,206.15,216.30,216.05,212.63,159997,3.402052e+07,3506,88509,55.32,-0.005323
6,2017-06-01,ASHOKA,EQ,190.35,191.10,192.90,186.15,187.75,187.50,189.06,63366,1.198017e+07,1427,39893,62.96,-0.014972
7,2017-07-03,ASHOKA,EQ,184.60,183.55,187.55,183.55,185.90,185.75,185.52,30493,5.657131e+06,844,17948,58.86,0.006230
8,2017-08-01,ASHOKA,EQ,185.55,185.80,185.80,179.05,179.05,179.95,181.25,86648,1.570463e+07,1283,67086,77.42,-0.030181
9,2017-09-01,ASHOKA,EQ,195.45,197.20,197.20,191.70,193.75,192.75,193.86,101583,1.969290e+07,2065,52231,51.42,-0.013814
10,2017-10-03,ASHOKA,EQ,187.70,187.20,190.00,182.15,182.85,183.30,184.13,499796,9.202611e+07,1747,459812,92.00,-0.023442
11,2017-11-01,ASHOKA,EQ,212.95,213.00,219.00,203.50,218.00,216.70,214.62,1211278,2.599672e+08,20826,737367,60.88,0.017610
12,2017-12-01,ASHOKA,EQ,251.80,254.95,258.85,240.00,241.10,243.80,251.03,256827,6.447191e+07,10480,131030,51.02,-0.031771

In [210]:
monthly_stock_close_price = list()
for name,group in stock_month:
        monthly_stock_close_price.append(group['Close Price'].sum())

In [230]:
monthly_return = pd.DataFrame()

In [231]:
monthly_return['Monthly_Stock_close_price'] = monthly_stock_close_price

In [222]:
nifty_month = nifty.groupby('month')

In [223]:
nifty_month.first()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr),Daily_Return
month,,,,,,,,
1,2018-01-01,10531.70,10537.85,10423.10,10435.55,134532090,7546.56,-0.009035
2,2018-02-01,11044.55,11117.35,10878.80,11016.90,315743486,17719.40,-0.000979
3,2018-03-01,10479.95,10525.50,10447.15,10458.35,181378504,10179.48,-0.003288
4,2018-04-02,10151.65,10220.10,10127.75,10211.80,223135459,10968.95,0.009700
5,2017-05-15,9433.55,9449.25,9423.10,9445.40,145163953,7790.97,0.007078
6,2017-06-01,9603.55,9634.65,9589.90,9616.10,181533283,9482.61,-0.000535
7,2017-07-03,9587.95,9624.00,9543.55,9615.00,188690599,8720.76,0.009884
8,2017-08-01,10101.05,10128.60,10065.75,10114.65,190000516,11515.29,0.003726
9,2017-09-01,9937.65,9983.45,9909.85,9974.40,162730656,9314.82,0.005697
10,2017-10-03,9893.30,9895.40,9831.05,9859.50,167833406,9698.55,0.007243
11,2017-11-01,10390.35,10451.65,10383.05,10440.50,268270466,14206.21,0.010179
12,2017-12-01,10263.70,10272.70,10108.55,10121.80,147765528,8518.58,-0.010243

In [224]:
monthly_market_close_price = list()
for name,group in nifty_month:
        monthly_market_close_price.append(group['Close'].sum())

In [232]:
monthly_return['Monthly_market_close_price'] = monthly_market_close_price

In [233]:
# let us see our monthly close price of stock and market
monthly_return

    Monthly_Stock_close_price  Monthly_market_close_price
0                     8173.40                   485583.05
1                     6606.05                   416805.80
2                     6941.70                   409447.35
3                     8074.55                   441594.20
4                     9422.40                   449720.60
5                     8834.25                   427348.50
6                     7915.05                   448657.95
7                     6868.60                   449392.10
8                     6241.35                   412883.30
9                     6210.45                   420833.55
10                    7487.45                   439580.45
11                    7430.20                   422014.10

In [234]:
monthly_return['monthly_stock_return'] = monthly_return['Monthly_Stock_close_price'].pct_change()

In [235]:
monthly_return['monthly_market_return'] = monthly_return['Monthly_market_close_price'].pct_change()

In [236]:
monthly_return

,Monthly_Stock_close_price,Monthly_market_close_price,monthly_stock_return,monthly_market_return
0,8173.40,485583.05,NaN,NaN
1,6606.05,416805.80,-0.191762,-0.141638
2,6941.70,409447.35,0.050809,-0.017654
3,8074.55,441594.20,0.163195,0.078513
4,9422.40,449720.60,0.166926,0.018402
5,8834.25,427348.50,-0.062420,-0.049747
6,7915.05,448657.95,-0.104050,0.049864
7,6868.60,449392.10,-0.132210,0.001636
8,6241.35,412883.30,-0.091321,-0.081240
9,6210.45,420833.55,-0.004951,0.019255
10,7487.45,439580.45,0.205621,0.044547
11,7430.20,422014.10,-0.007646,-0.039962

In [240]:
monthly_return.drop(0,inplace=True)

# lets train our model for monthly stock and market return

In [241]:
x_monthly = monthly_return['monthly_market_return'].values.reshape(-1,1)
y_monthly = monthly_return['monthly_stock_return'].values.reshape(-1,1)

In [242]:
lr = LinearRegression()
linear_model_monthly = lr.fit(x_monthly,y_monthly)

In [243]:
linear_model_monthly.coef_

array([[1.37515766]])

Therefore Beta Value for monthly return is 1.37515766

# Beta Value for Daily return is 1.60861623
# Beta Value for Monthly Return is 1.37515766

The Beta Value for both Daily return and Monthly return are more than 1 .

Negative beta are possible for investments that tend to go down when the market goes up, and vice versa.

# Summary

From the Gold Dataset , I conclude the following Observation:
    1. Pred is partially filled
    2. New is filled.
    3. Pred is Polynomially related to the inputs with degree 3 . 
    4. New is Linearly related to the inputs
    5. Build up the model with 0.9999 r2_score.
    
From the Stock(Ashoka) and Nifty Dataset , I conclude the following Observation:
    1. Beta value for Daily Return is 1.60861623
    2. Beta Value for Monthly Return is 1.37515766